.heading-primary {
  font-family: 'Karla', sans-serif;
  color: $primary-purple;
  font-size: 8rem;
  font-weight: 800;
  line-height: 7rem;
}

.heading-secondary {
  font-family: 'Karla', sans-serif;
  color: $highlight-pink;
  font-size: 3rem;
  background-color: $color-white;
  display: inline;
  line-height: 3.5rem;
}

.App {
  font-family: "Lato", sans-serif;
  font-weight: 400;
   font-size: 16px; 
}

.body-header {
  font-family: 'Source Sans Pro', sans-serif;
  color: $primary-purple;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
}

.body-text {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 2.5rem;
  font-size: 2.7rem;
  font-weight: 400;
}