//COLORS
$primary-purple: #2005aa;
$highlight-pink: #ff06b4;

$primary-brown: #B18C66;
$secondary-brown: #938275;
$primary-cream: #f8f3f1;

$color-white: #ffffff;
$color-black: #000000;
$shadow: #0e0e0eb2;

$color-secondary-light: #ffb900;
$color-secondary-dark: rgb(255, 145, 0);

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

// FONT
$default-font-size: 1.6rem;

// GRID 
$gutter-vertical: 2%;
$gutter-horizontal: 5%;
$gutter-horizontal-large: 15%;
$gutter-vertical-large: 10%;
$gutter-horizontal-small: 5%;

// PADDING
$in-element-padding: 5%;
