//COLORS
$primary-purple: #6E63A5;
$highlight-purple: #F718F7;

$primary-brown: #B18C66;
$secondary-brown: #938275;
$primary-cream: #C6BEBB;

$white: #ffffff;
$black: #000000;

// FONT
$default-font-size: 1.6rem;

// GRID 
$gutter-vertical: 2%;
$gutter-horizontal: 4%;

// PADDING
$in-element-padding: 5%;
