// .hero-image-box {
 

//   &--hero-image {
//     width: 100%;
//     object-fit: cover;
//   }
// }

.hero-section {
  grid-area: top;

  &__hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.info-section {
  grid-area: mid-left;
  background-color: blue;
}

.schedule {
  grid-area: mid-right;
  background-color: chartreuse;
}

.gallery {
  grid-area: bottom;
  background-color: crimson;
}