/* Style the navigation menu */
.header {
  position: fixed;
  z-index: 100;
  
}

.topnav {
  overflow: hidden;
  background-color: $primary-brown;
  position: relative;
  width: 100vw;
  padding: $gutter-vertical;
  opacity: 50%;

  &__logo {
    position: absolute;
    top: 10%;
    text-decoration: none;
    color: $white;
  }

  &__title {
    position: absolute;
    top: 10%;
    left: 35%;
    z-index: 20;
    margin: 0 $gutter-horizontal 0 $gutter-horizontal;
  }

  &__menu {
    position: absolute;
    right: 2.5%;
    top: 10%;
    color: $white;
    height: 5vh;

    &__links {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: $gutter-vertical;
    }
  }
}

.topnav:hover {
  opacity: 100%;
}


.topnav__links--item {
  color: $white;
  text-decoration: none;
}

.topnav a:hover {
 
  color: $highlight-purple;
  text-decoration: none;
}

