/* Style the navigation menu */

.topnav {
  position: fixed;
  top:0;
  z-index: 1000;
  height: 8%;
  background-color: $primary-brown;
  width: 100vw;
  display: block;
  text-align: center;


  &__title {
    z-index: 20;

  }

  &__menu {
    position: absolute;
    right: 2.5%;
    top: 10%;
    height: 6vh;

    &__links {
      width: 100%;
      position: absolute;
      z-index: 1000;
      height: 12vh;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: $primary-brown;
    }
  }
}



.topnav__links--item {
  @include respond(501) {
    font-size: 2rem;
  }

  color: $color-white;
  text-decoration: none;
}


