.main-page-hero-section {
  height: 25%;
  background-color: $color-secondary-dark;
  overflow: scroll;

  &--main-text {
    margin: $in-element-padding;
   
  }

  &--sub-text {
    margin: 0% 7%;
   
  
  }
}

.logo {
  width: 50%;
  margin: 10% 25% 5% 25%;
}