.main-section {
  grid-area: main-section;
  display: flex;
  flex-direction: row;

  [class^="main-"] {
    width: 100%;

    &:not(:last-child) {
      margin-right: $gutter-horizontal;
    }
  }

  &__info {
    padding: $gutter-vertical $gutter-horizontal;
  }

  &__schedule {
    padding: $gutter-vertical $gutter-horizontal;
  }

  .info-body-1 {
    margin-bottom: $gutter-horizontal-large;
  }
}

.body-header{
  text-align: center;
}

.schedule-text {
  text-align: center;
  line-height: 3rem;
}

