.testamony-area {
  background-color: $color-white;
  height: 80vh;
  width: 70vw;
  padding: $gutter-horizontal $gutter-vertical;
  border-radius: 2% 2%;
  overflow: scroll;
}

.text-box {
  background-color: $color-secondary-light;
  border-radius: 25px;  
  position: relative;
  overflow: scroll;
  box-shadow: 3px 2px $shadow;
  height: 20vh;
  margin-bottom: $gutter-vertical-large;

  &__user-name {
    position: absolute;
    left: 4%;
    top: 5%;
  }

  &__user-text {
    padding: 6% $gutter-vertical 2%;
  }
}
