.testimony-area {
  background-color: $color-white;
  height: 100%;
  width: 70%;
  padding: $gutter-horizontal $gutter-vertical;
  border-radius: 2% 2%;
  overflow: scroll;
  margin: 10% 15%;
  padding: 5%
}

.text-box {
  background-color: $color-secondary-light;

  overflow: scroll;
  box-shadow: 3px 2px $shadow;
  height: 30vh;
  margin-bottom: $gutter-vertical-large;

  &__user-name {
  }

  &__user-text {
    padding: 6% $gutter-vertical 2%;
  }
}
