.testimony-area {
  background-color: $color-white;
  height: 100%;
  width: 70%;
  padding: $gutter-horizontal $gutter-vertical;
  border-radius: 2% 2%;
  overflow: scroll;
  margin: 10% 15%;
  padding: 5%
}

.text-box {
  margin: 5%;

  &__user-name {
    color: $primary-purple;
  }

  &__user-text {
    padding: 6% 0% 2%;
  }
}
