
.grid {
  // height: 170vh;
  display: grid;
  grid-template-columns: 5% 40% 40% 5%;
  grid-template-rows: 4% 30% 40% 20% 6%;
  column-gap: $gutter-horizontal;
  row-gap: $gutter-vertical;
  grid-template-areas: 
  'header header header header'
  '. top top .'
  '. main-section main-section .'
  '. bottom bottom .'
  'copy copy copy copy'
  ;
  margin: 0px;
}

.events-grid {
  height: 170vh;
  display: grid;
  grid-template-columns: 5% 40% 40% 5%;
  grid-template-rows: 4% 90% 6%;
  column-gap: $gutter-horizontal;
  row-gap: $gutter-vertical;
  grid-template-areas: 
  'header header header header'
  '. events-main-section events-main-section .'
  'copy copy copy copy'
  ;
}


