// .row {
//   width: $grid-width;
//   height: 20vh;

//   [class^="col-"] {
//     margin: $gutter-vertical $gutter-horizontal $gutter-vertical $gutter-horizontal;
//   }

//   .col-1-of-1 {
//     width: $grid-width;
//   }

//   .col-1-of-2 {
//       // the calc allows for calculations in css to find measurments
//     // below we have the width of the entire screen 100%
//     // minus the space between the columns (the gutter)
//     // divided by 2, the amount of columns in the row.
//     width: calc((100% - #{$gutter-horizontal})/2)
//   }
// }

.container {
  display: grid;
  grid-template-columns: 5% 40% 40% 5%;
  grid-template-rows: 5vh 30vh 20vh 20vh 20vh;
  column-gap: $gutter-horizontal;
  row-gap: $gutter-vertical;
  grid-template-areas: 
  'header header header header'
  '. top top .'
  '. mid-left mid-right .'
  '. mid-left mid-right .'
  '. bottom bottom .'
  ;
}