html {
  font-size: 62.5%; }

.App {
  margin: 0px;
  padding: 0px; }

.heading-primary {
  font-family: 'Playfair Display', serif;
  color: #6E63A5;
  font-size: 6rem; }

.heading-secondary {
  font-family: 'Source Sans Pro', sans-serif;
  color: #F718F7;
  font-size: 3rem; }

.App {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px; }

.body-header {
  font-family: 'Source Sans Pro', sans-serif;
  color: #6E63A5;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase; }

.body-text {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 400; }

/* Style the navigation menu */
.header {
  position: fixed;
  z-index: 100; }

.topnav {
  overflow: hidden;
  background-color: #B18C66;
  position: relative;
  width: 100vw;
  padding: 2%;
  opacity: 50%; }
  .topnav__logo {
    position: absolute;
    top: 10%;
    text-decoration: none;
    color: #ffffff; }
  .topnav__title {
    position: absolute;
    top: 10%;
    left: 35%;
    z-index: 20;
    margin: 0 4% 0 4%; }
  .topnav__menu {
    position: absolute;
    right: 2.5%;
    top: 10%;
    color: #ffffff;
    height: 5vh; }
    .topnav__menu__links {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-top: 2%; }

.topnav:hover {
  opacity: 100%; }

.topnav__links--item {
  color: #ffffff;
  text-decoration: none; }

.topnav a:hover {
  color: #F718F7;
  text-decoration: none; }

.hero-section {
  grid-area: top;
  position: relative; }
  .hero-section__hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover; }
    .hero-section__hero-image--main-text {
      margin: 5%;
      position: absolute;
      bottom: 20%;
      z-index: 1; }
    .hero-section__hero-image--sub-text {
      margin: 5%;
      position: absolute;
      bottom: 8%;
      z-index: 1; }

.main-section {
  grid-area: main-section;
  display: flex;
  flex-direction: row; }
  .main-section [class^="main-"] {
    width: 100%; }
    .main-section [class^="main-"]:not(:last-child) {
      margin-right: 4%; }
  .main-section__info {
    padding: 2% 4%; }
  .main-section__schedule {
    padding: 2% 4%; }
  .main-section .info-body-1 {
    margin-bottom: 15%; }

.body-header {
  text-align: center; }

.schedule-text {
  text-align: center;
  line-height: 3rem; }

.bottom-section {
  grid-area: bottom;
  background-color: crimson;
  position: relative;
  margin-bottom: 4%; }
  .bottom-section--sub-header {
    position: absolute;
    bottom: 8%;
    margin: 5%; }

.w-100 {
  height: 34vh;
  object-fit: cover; }

.copy-section {
  background-color: #B18C66;
  margin-top: 2%;
  text-align: center; }
  .copy-section__header {
    display: inline;
    margin-right: 4%; }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  width: 25vw;
  margin: 15%; }
  .card__side {
    height: 30rem;
    transition: all 1s;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
    .card__side--front {
      background-color: #ffffff; }
    .card__side--back {
      transform: rotateY(-180deg); }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .card:hover .card__side--front {
    transform: rotateY(180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg);
    height: 30rem; }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px; }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: right;
    color: #ffffff;
    position: absolute;
    top: 10rem;
    right: 2rem;
    width: 75%; }
  .card__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.85), rgba(255, 119, 48, 0.85)); }
  .card__details ul {
    list-style: none;
    width: 80%;
    color: #000000; }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #000000; }
  .card__side--back {
    height: 50rem; }
  .card__cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: #ffffff; }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }

.testamony-area {
  background-color: #ffffff;
  height: 80vh;
  width: 70vw;
  padding: 4% 2%;
  border-radius: 2% 2%;
  overflow: scroll; }

.text-box {
  background-color: #ffb900;
  border-radius: 25px;
  position: relative;
  overflow: scroll;
  box-shadow: 3px 2px #0e0e0eb2;
  height: 20vh;
  margin-bottom: 10%; }
  .text-box__user-name {
    position: absolute;
    left: 4%;
    top: 5%; }
  .text-box__user-text {
    padding: 6% 2% 2%; }

.grid {
  display: grid;
  grid-template-columns: 5% 40% 40% 5%;
  grid-template-rows: 4% 30% 40% 20% 6%;
  column-gap: 4%;
  row-gap: 2%;
  grid-template-areas: 'header header header header' '. top top .' '. main-section main-section .' '. bottom bottom .' 'copy copy copy copy';
  margin: 0px; }

.events-grid {
  height: 170vh;
  display: grid;
  grid-template-columns: 5% 40% 40% 5%;
  grid-template-rows: 4% 90% 6%;
  column-gap: 4%;
  row-gap: 2%;
  grid-template-areas: 'header header header header' '. events-main-section events-main-section .' 'copy copy copy copy'; }

.App {
  background-color: #f8f3f1; }

.events {
  grid-area: events-main-section;
  height: 100vh; }

.testamony-page {
  background-color: #f8f3f1;
  height: 100vh;
  padding-top: 10vh; }
  .testamony-page--header {
    margin-left: 5vw; }
  .testamony-page__main-area {
    display: flex;
    flex-direction: row;
    margin-left: 5vw; }
    .testamony-page__main-area--link {
      margin: 0vh 5vw;
      width: 20vw; }
