/*
0-600px: phone
600-900px: Tablet portrait
900-1200px: Tablet landscape
[1200-1800] is where our normal styles apply

$breakpoint argument choices:
-phone
-tab-port
-tab-land
-big-desktop

1em = 16px
*/
html {
  font-size: 62.5%; }

.App {
  height: 200%;
  margin: 0px;
  padding: 0px;
  background-color: #f8f3f1; }

.heading-primary {
  font-family: "Karla", sans-serif;
  color: #2005aa;
  font-size: 3rem;
  font-weight: 800;
  line-height: 3.5rem; }
  @media only screen and (min-width: 501px) {
    .heading-primary {
      font-size: 8rem;
      line-height: 8.5rem; } }

.heading-secondary {
  font-family: "Karla", sans-serif;
  color: #ff06b4;
  font-size: 2rem;
  background-color: #ffffff;
  line-height: 2.5rem; }
  @media only screen and (min-width: 501px) {
    .heading-secondary {
      font-size: 5rem;
      line-height: 6.5rem; } }

a:link {
  text-decoration: none; }

.App {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px; }

.body-header {
  font-family: "Source Sans Pro", sans-serif;
  color: #2005aa;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase; }
  @media only screen and (min-width: 501px) {
    .body-header {
      font-size: 3.5rem; } }

.header-title {
  font-family: "Source Sans Pro", sans-serif;
  color: #ffffff;
  font-size: 2.5rem;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0; }

.body-text {
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.5rem;
  font-size: 1.7rem;
  font-weight: 400; }
  @media only screen and (min-width: 501px) {
    .body-text {
      font-size: 3.7rem;
      line-height: 3.5rem; } }

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(163, 163, 163, 0.5);
  top: 0%;
  left: 0%; }

.solid {
  width: 60%;
  margin-left: 20%;
  border-bottom: 3px solid black; }

/* Style the navigation menu */
.topnav {
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 8%;
  background-color: #B18C66;
  width: 100vw;
  display: block;
  text-align: center; }
  .topnav__title {
    z-index: 20; }
  .topnav__menu {
    position: absolute;
    right: 2.5%;
    top: 10%;
    height: 6vh; }
    .topnav__menu__links {
      width: 100%;
      position: absolute;
      z-index: 1000;
      height: 12vh;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: #B18C66; }

.topnav__links--item {
  color: #ffffff;
  text-decoration: none; }
  @media only screen and (min-width: 501px) {
    .topnav__links--item {
      font-size: 2rem; } }

.main-page-hero-section {
  height: 20%;
  background-color: #ff9100;
  overflow: scroll; }
  @media only screen and (min-width: 501px) {
    .main-page-hero-section {
      height: 80vh; } }
  .main-page-hero-section--main-text {
    margin: 0 5%; }
  .main-page-hero-section--sub-text {
    margin: 2.5% 7%; }

.logo {
  width: 40%;
  margin: 4.5% 30% 0% 30%; }
  @media only screen and (min-width: 501px) {
    .logo {
      margin: .1% 30% 0% 30%; } }

.main-section {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding: 5% 5%; }
  @media only screen and (min-width: 501px) {
    .main-section {
      flex-direction: row; } }
  .main-section__left {
    width: 90vw;
    margin-right: 5%;
    height: 100%; }
    .main-section__left__stream-box {
      height: 35.9%;
      margin-bottom: 5%;
      position: relative; }
      .main-section__left__stream-box--image {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .main-section__left__stream-box--text {
        position: absolute;
        top: 40%;
        margin-left: 5%;
        z-index: 20; }
        @media only screen and (min-width: 501px) {
          .main-section__left__stream-box--text {
            top: 30%; } }
      .main-section__left__stream-box--overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(163, 163, 163, 0.63);
        z-index: 10;
        top: 0; }
    .main-section__left__photos-box {
      position: relative;
      height: 50%; }
      .main-section__left__photos-box--image {
        width: 100%;
        height: 100%;
        object-fit: cover; }
      .main-section__left__photos-box--header {
        position: absolute;
        top: 10%;
        margin-left: 5%;
        z-index: 20; }
        @media only screen and (min-width: 501px) {
          .main-section__left__photos-box--header {
            top: 5%; } }
      .main-section__left__photos-box--text {
        position: absolute;
        bottom: 55%;
        left: 1%;
        margin-left: 5%;
        z-index: 20; }
        @media only screen and (min-width: 501px) {
          .main-section__left__photos-box--text {
            bottom: 50%; } }
      .main-section__left__photos-box--overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(163, 163, 163, 0.63);
        z-index: 10;
        top: 0; }
  .main-section__right {
    width: 90vw;
    margin-top: 5%;
    text-align: center; }
    .main-section__right__calendar {
      margin-bottom: 15%; }
      .main-section__right__calendar--header {
        margin-bottom: 5%; }
      .main-section__right__calendar--body {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        margin: 0px 10%;
        height: 80%;
        width: 80%;
        padding: 5% 0%; }

.calendar-text {
  padding: 5% 0%; }

.bottom-section {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 25%;
  background-color: #ff9100;
  padding-top: 2%; }
  .bottom-section--header {
    position: absolute;
    left: 13%;
    z-index: 20; }

.info-section {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-top: 2%; }
  .info-section--header {
    text-align: center;
    width: 60%;
    display: inline;
    margin: 2% 5%; }

.address-box {
  width: 40%;
  height: 30%;
  margin: 5% 2%;
  text-align: center;
  padding-top: 2%; }

.address-text {
  display: inline-block;
  margin: 2% 0%; }

.social-media {
  display: flex;
  flex-direction: row;
  width: 40%;
  margin-left: 10%;
  padding: 10%; }

.social-icon {
  margin: 5%; }

.copy-section {
  background-color: #B18C66;
  height: 4%;
  text-align: center; }
  .copy-section__header {
    display: inline;
    margin-right: 5%; }

.testimony-area {
  background-color: #ffffff;
  height: 100%;
  width: 70%;
  padding: 5% 2%;
  border-radius: 2% 2%;
  overflow: scroll;
  margin: 10% 15%;
  padding: 5%; }

.text-box {
  background-color: #ffb900;
  overflow: scroll;
  box-shadow: 3px 2px #0e0e0eb2;
  height: 30vh;
  margin-bottom: 10%; }
  .text-box__user-text {
    padding: 6% 2% 2%; }

.home-page {
  width: 100vw; }

.testimony-page {
  background-color: #f8f3f1;
  height: 100%; }

.hero-section {
  height: 20%;
  background-color: coral;
  position: relative; }
  @media only screen and (min-width: 501px) {
    .hero-section {
      height: 80vh; } }
  .hero-section--image {
    width: 100%;
    height: 100%; }
  .hero-section--header {
    margin-left: 5%;
    position: absolute;
    top: 40%; }
  .hero-section--link {
    margin-left: 5%;
    position: absolute;
    top: 60%;
    left: 5%; }

.main-area {
  height: 70%;
  padding: 5%; }

.contact {
  height: 100vh;
  padding: 15% 5% 0% 5%; }
  @media only screen and (min-width: 501px) {
    .contact {
      padding: 10% 5% 0% 5%; } }
  .contact__form {
    background-color: white;
    height: 50%;
    padding: 5%; }
    @media only screen and (min-width: 501px) {
      .contact__form {
        height: 60vh; } }

.name-section {
  display: flex;
  flex-direction: column; }

.name-section > * {
  width: 40%;
  margin-bottom: 2.5%; }

.message-section {
  margin-top: 10%; }
  @media only screen and (min-width: 501px) {
    .message-section {
      margin-top: 5%; } }
  .message-section--text {
    width: 70%;
    height: 150px; }
  .message-section--button {
    margin: 0% 0% 10% 5%;
    height: 30px;
    border: none; }

.our-story-page {
  height: 100%;
  background-color: #f8f3f1; }

.story-hero-section {
  height: 20%;
  position: relative; }
  @media only screen and (min-width: 501px) {
    .story-hero-section {
      height: 80vh; } }
  .story-hero-section--image {
    width: 100%;
    height: 100%; }
  .story-hero-section__header {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5%;
    top: 20%;
    z-index: 100; }
    .story-hero-section__header--top {
      margin-right: 15%;
      width: 100%; }
    .story-hero-section__header--bottom {
      width: 100%;
      margin-left: 40%; }

.story-main-section {
  height: 80%;
  padding: 5%;
  display: flex;
  flex-direction: column; }
  .story-main-section__info {
    width: 100%;
    height: 45%; }
    .story-main-section__info--header {
      text-align: center; }
    .story-main-section__info--text {
      line-height: 150%; }
    .story-main-section__info--option {
      margin-left: 20%;
      text-align: center;
      width: 60%; }
  .story-main-section__outreach {
    width: 100%;
    height: 45%; }
    .story-main-section__outreach--header {
      text-align: center; }
    .story-main-section__outreach--option {
      margin-left: 20%;
      text-align: center;
      width: 60%; }
